#addshortcut-dialog {
    width: 540px;

    border: gray solid 1px;
    margin: 20px 0 0 0;
}

#addshortcut-dialog > span {
    margin: 10px 0 5px 10px;
}
#addshortcut-dialog span {
    display: block;
}


#addshortcut-dialog > #dialogItem-container {
    margin: 10px 0 6px 5px;
    width: 500px;
    border: transparent solid 1px;
}

#dialogItem-container > .dialog-item {
    width: 500px;
    margin-bottom: 15px;
}

#dialogItem-container > .dialog-item > input {
    width: 320px;
    height: 32px;

    border: 0;
    outline: 0;
    border-radius: 3px;

    background-color: #f2f4f6;
}

#addshortcut-dialog > #dialogButton-container {
    width: 500px;
    border: transparent solid 1px;
}

#dialogButton-container > button {
    width: 84px;
    height: 36px;
    margin: 10px 5px;

    background-color: #39BAE8;
}


