#layout {
    width: 100%;
    height: 100%;

    background-image: url("../assets/backgroundImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: 0;
    top: 0;
}

#layout > #top {
    width: 100%;
    height: 150px;
}

#layout > #center {
    position: relative;
    z-index: 1;
    width: calc(100% - 4px);
    height: calc(100% - 154px);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;

}

#center > * {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}