:root {
    --backgroundColor--: white;
    --display-actionmenutrigger--: none;
}

#QLink-List {
    width: 540px;
    height: 240px;
    border: transparent solid 1px;
    margin: 20px 0 0 0;

    display: flex;
    flex-wrap: wrap;
}

#QLink-List > .QLink, #addshortcut {
    text-decoration: none;
    color: black;
    text-align: center;
    position: relative;

    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 3px;
    border: transparent solid 1px;

    background-color: var(--backgroundColor--);

}
#QLink-List > .QLink:hover, #addshortcut:hover {
    --backgroundColor--: #f2f4f6;
    --display-actionmenutrigger--: block;
    /* background-color: #f2f4f6; */
}

#QLink-List > .QLink > .actionmenu-trigger {
    display: var(--display-actionmenutrigger--);

    position: absolute;
    top: 5px;
    right: 5px;

    width: 24px;
    height: 24px;
    border: 0;
    border-radius: 50%;
    
    background-color: var(--backgroundColor--);
    background-image: url("../assets/ellipsis.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

#QLink-List > .QLink > .actionmenu-trigger:hover {
    background-color: #EAEAEA;
}

#QLink-List > #actionmenu-dialog {
    display: none;
    position: absolute;
    z-index: 1;

    width: 112px;
    height: 80px;
    background-color: white;

    border-radius: 3px;
    box-shadow: 0 2px 5px grey;
}

#QLink-List > #actionmenu-dialog > .menu-item {
    width: 100%;
    height: 32px;
    border: 0;

    background-color: white;
}
#QLink-List > #actionmenu-dialog > .menu-item:hover {
    background-color: #f9ca79;
}

#QLink-List .iconContainer {
    margin-top: 16px;
    
    display: flex;
    justify-content: center;

    width: 48px;
    height: 48px;
    border-radius: 50%;

    background-color: #bbded6;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#QLink-List .iconContainer > img {
    align-self: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#QLink-List .titleContainer {
    align-self: center;

    width: 90px;
    height: 36px;

    margin: 10px 0 0 0;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
