#search-box {
    align-self: center;

    width: 600px;
    height: 60px;

    display: flex;

    background-color: white;
    border-radius: 24px;
    border: 1px solid gray;
}

#search-box > #search-engine {
    margin-left: 2px;
    width: 54px;
    height: 54px;
    border-radius: 50%;

    background-image: url("../assets/google.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#search-box > #input-box {
    width: 480px;
    height: 100%;
    margin: 0 auto;
    border: none;
}

#search-box > #icon-searching {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    border-radius: 50%;
}