#search-box {
    align-self: center;

    width: 600px;
    height: 48px;

    display: flex;

    background-color: white;
    border-radius: 24px;
    border: 1px solid transparent;

    box-shadow: 0px 1px 5px grey;
}

#search-box > #search-engine {
    align-self: center;
    margin-left: 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    background-image: url("../assets/google.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#search-box > #input-box {
    width: 480px;
    height: 100%;
    margin: 0 auto;
    border: none;
    outline: 0;

    font-size: 1.5em;
}

#search-box > #icon-searching {
    align-self: center;
    width: 24px;
    height: 24px;
    margin-right: 24px;
    border-radius: 50%;
}